<div class="container">
  <div class="row my-5">
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Productos </h5>
          <p class="card-text">  </p>
          <a href="/admin/productos" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Categorias </h5>
          <p class="card-text">  </p>
          <a href="/admin/categorias" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> Usuarios </h5>
          <p class="card-text">  </p>
          <a href="/admin/usuarios" class="btn btn-primary">Ver</a>
        </div>
      </div>
    </div>
  </div>
</div>






