<div class="container-fluid bg-dark p-3 text-white">
  <div class="row">
    <div class="col-md-8">
      <h4 class="ms-3">Bienvenido a {{title}}</h4>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
      {{#if user}}
        <h5 class="me-3"> {{user}}</h5>
        <a href="/login/logout" class="btn btn-outline-info">Cerrar sesión</a>
      {{/if}}
    </div>
  </div>
</div>
  <!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-5 fw-bolder text-white mb-2">Entrená con Profesionales</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Orientamos y personalizamos tu entrenamiento según tus objetivos y capacidades</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <a class="btn btn-color-stp btn-lg px-4 me-sm-3" href="/registro">Empezá con nosotros</a>
                        <a class="btn btn-outline-light btn-lg px-4" href="#features">Saber Más</a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center"><img class="img-fluid rounded-3 my-2" src="/images/Marcas_Transparentes-01.png" alt="Logo" /></div>
        </div>
    </div>
</header>
  <!-- Features section-->
<section class="py-5" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0"><h2 class="fw-bolder mb-0">Una mejor forma de lograr tus objetivos</h2></div>
            <div class="col-lg-8">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><span class="material-icons">track_changes</span></div>
                        <h2 class="h5">Seguimiento Personalizado</h2>
                        <p class="mb-0">Estamos con vos en cada momento, adaptando los ejercicios a tus capacidades.</p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><span class="material-icons">event_available</span></div>
                        <h2 class="h5">Turnos reducidos</h2>
                        <p class="mb-0">Tenemos un cupo de alumnos por turno para poder brindarles un seguimiento más cercano.</p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><span class="material-icons">school</span></div>
                        <h2 class="h5">Profesionales Capacitados</h2>
                        <p class="mb-0">Todos nuestros profes están especializados en entrenamiento.</p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-gradient text-white rounded-3 mb-3"><span class="material-icons">fitness_center</span></div>
                        <h2 class="h5">Health and Performance</h2>
                        <p class="mb-0">Nuestros programas de entrenamiento se orientan tanto en el rendimiento deportivo como así tmb en la salud.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Content-->
            <section class="py-5">
                <div class="container px-5 mb-3">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <img src="/images/sinhp.png" alt="" class="logo-color-size">
                                <h1 class="fw-bolder">Health and Performance</h1>
                                <p class="lead fw-normal text-muted mb-0">Te esperamos para sumarte a entrenar con nosotros, ya seas deportista o simplemente deseas mejorar y/o mantener tu salud</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-12 justify-content-center"><img class="img-fluid rounded-3 mb-5" src="/images/Relleno de color 2.png" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/images/Relleno de color 1.png" alt="..." /></div>
                        <div class="col-lg-6"><img class="img-fluid rounded-3 mb-5" src="/images/Marcas_Transparentes-06.png" alt="..." /></div>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <p class="lead fw-normal text-muted">Queremos que seas parte de la comunidad STP, tenemos deportistas de diversos ámbitos, Triatletas, Runners, jugadores de Rugby, Hockey, Nadadores, te esperamos para elevar tu rendimiento al máximo</p>
                                <a class="text-decoration-none" href="/productos">
                                    Ver paquetes de entrenamiento
                                    <i class="bi-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


