<div class="container-fluid bg-dark m-0" style="height:100vh">
  <div class="row">
    <div class="col-6 m-auto my-5">
      <form method="post" action="/registro" class="form">
        <div class="mb-3">
          <label for="nombre" class="form-label text-white">Nombre <span class="text-danger">*</span> </label>
          <input type="text" class="form-control" id="name" name="name" >
        </div>
        <div class="mb-3">
          <label for="email" class="form-label text-white">Email <span class="text-danger">*</span></label>
          <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" >
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label text-white">Password <span class="text-danger">*</span></label>
          <input type="password" class="form-control" id="pass" name="pass" >
        </div>
        <p class="text-danger">{{message}}</p>
        <button type="submit" class="btn btn-secondary">Registrarme</button>
      </form>
    </div>
  </div>
</div>