
body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}
a {
  color: #00b5ad;
}
.logoNavbar{
  width: 100px;
}
.btn-register{
  margin-right: 15px;
}


/* Footer */
.footer{
  background-color: #00b5ad;
  color: white;
  width: 100%;
  margin-top: auto;
}
.border-div{
  border-right: 2px solid  #ffffff;
}
.quick-links{
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
}
.quick-links:hover{
  color:  #696969;
}
.socialicon{
  color:rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
  padding: 15px;
}

.socialicon:hover{
  color:#ffffff;
}

.iconos-contacto {
  font-size: 1.3rem;
}
.titles-footer{
  font-size: 1.2rem;
}
.table-img-size{
  height: 50px;
}

.btn-color-stp {
  background-color:#00b5ad;
  color: white;
}
.btn-color-stp:hover {
  background-color:#003946;
  color: white;
}
.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  background-color:#003946;
}
.logo-color-size{
  height:100px;
}
.bg-about-us {
  background-image: url(../images/Marcas_Transparentes-06.png);
  background-size: cover;
  color: black;
}
.bg-contact-page{
  background-image: url(../images/bg-contacto.png);
  background-size: cover;
}
.bg-light-contact{
  background-color: #00394659;
}
.bg-register{
  background-image: url(../images/pexels-victor-freitas-841130.jpg);
  background-size: cover;
}
.card-register{
  background-color: #00394685;
}